@charset "UTF-8";
// ===================================================================
//	File:	themes/_state.scss
//	Date:	2017-04-10(+09:00)
//	Note:	
// ===================================================================
// JS
// -------------------------------------------------------------------
.is-hide {
  display: none !important;
}

.is-show {
  display: block !important;
}

.is-static {
  position: static !important;
}

.is-fixed {
  position: fixed !important;
}

.is-absolute {
  position: absolute !important;
}

.is-visible {
  visibility: visible !important;
}

.is-hidden {
  visibility: hidden !important;
}

.is-overflow-hidden {
  overflow: hidden !important;
}


// media
// -------------------------------------------------------------------
.is-sp {
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		display: none;
	}
	//	[media queries SP]
	// ----------------------------------------
	@include media(sp) {
		display: block!important;
	}
}
.is-pc {
	display: none;
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		display: block;
	}
}


