@charset "utf-8";
// ===================================================================
//  File:	components/_breadcrumb.scss
//  Date:	2017-04-10(UTC+9)
//  Note:	
// ===================================================================
.breadcrumb {
	.path {
		@include fontsize(13);
		margin: 0 6px;
	}
	strong {
		font-weight: normal;
	}
	a {
		color: $base_text2_color;
	}
}