@charset "utf-8";
// ===================================================================
//  File:	components/_list.scss
//  Date:	2017-02-24(UTC+9)
//  Note:	
// ===================================================================
%list {
}
%list__item {
	position: relative;
	&:before {
		position: absolute;
	}
	& + & {
		margin-top: 1em;
	}
}

.number-list {
	counter-reset:number;
	.list__item {
		@extend %list__item;
		padding-left: 3em;
		&:before {
			top: 0;
			left: 0;
			counter-increment: number;
			content: counter(number)'. ';
			text-align: center;
		}
	}
}