@charset "utf-8";
// ===================================================================
//  File:	components/_table.scss
//  Date:	2017-02-24(UTC+9)
//  Note:	
// ===================================================================
@include media(sp) {
	.unit--table {	// スマートフォン対策
		position: relative;
		padding-top: 36px;
		.has--menu & {
			display: none;
		}
		&:before {
			position: absolute;
			top: 0;
			left: $base_padding*2;
			margin-bottom: 1em;
			padding: 0.04em 0.8em;
			background: lighten($base_corporate_color,20%);
			border-radius: 4px;
			content: '表はスクロールすることができます';
			@include fontsize(12);
			color: $base_white_color;
		}
		&__in {
			overflow-x: scroll;
			&:-webkit-scrollbar {
				height: 5px;
			}
			&:-webkit-scrollbar-track {
				border-radius: 5px;
				background: #eee;
			}
			&:-webkit-scrollbar-thumb {
				border-radius: 5px;
				background: #666;
			}
		}
	}
}


// 	.fact-table
// -------------------------------------------------
.fact-table {
	@include element(note) {
		text-align: right;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			width: 810px;
			margin-right: auto;
			margin-left: auto;
		}
	}
	@include element(body) {
		width: 100%;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			width: $base_table_width;
			margin-right: auto;
			margin-left: auto;
			@include fontsize(16);
		}
		th, td {
			padding: 1em;
			font-weight: normal;
			vertical-align: top;
			text-align: left;
			display: block;
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				display: table-cell;
				padding: 2em 1em;
				border-top: 1px solid $base_border_color;
				border-bottom: 1px solid $base_border_color;
			}
		}
		th {
			background-color: lighten($base_border_color, 10%);
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				width: 30%;
				background: none;
			}
		}
	}
	.note {
		margin-top: 1em;
		line-height: 1.6;
	}
}


// 	.price-table
// -------------------------------------------------
.price-table {
	width: 100%;
	border: 2px solid $base_border-color;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 6px;
	overflow: hidden;
	tr {
	}
	& + &, .block-map + & {
		margin-top: 4em;
	}
	th, td {
		box-sizing: border-box;
		padding: 1em 2em;
		border: 1px solid $base_border-color;
	}
	tbody th, tbody td {
		text-align: left;
	}
	@include element(title) {
		margin-bottom: 2em;
		padding: 1em 0;
		background: #f4a9b4;
		@include alignC;
		color: $base_white_color;
		@include fontsize(20);
		letter-spacing: .16em;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			@include fontsize(28);
		}

	}
	@include element(head) {
		background: #fbdde1;
		@include clearfix;
		text-align: center;
		.service-dayservice & {
			background: #fce9d5;
		}
		.ico-room {
			display: block;
			box-sizing: border-box;
			padding: .2em 1em;
			background: $base_rin_color;
			border-radius: 6px;
			float: right;
			color: $base_white_color;
			text-align: center;
			@include fontsize(12);
			font-weight: normal;
		}
	}
	@include element(body) {
		th {
			width: 26.5%;
			@include media(sp) {
				width: 100%;
				display: block;
				background: rgba(0,0,0,.2);
			}
		}
		td {
			@include media(sp) {
				display: block;
			}
			strong {
				color: #e95469;
			}
		}
	}
	@include element(summary) {
		th, td {
			border-top-width: 1px;
		}
	}
	a:link,a:visited {
		text-decoration: underline;
	}
	a:hover {
		text-decoration: none;
	}
}


.nowrap {
	white-space: nowrap;
}
