@charset "utf-8";
// ===================================================================
//  File:	layout/_footer.scss
//  Date:	2017-04-10(UTC+9)
//  Note:	
// ===================================================================
// -------------------------------------------------------------------
// 	.globalFooter
// -------------------------------------------------------------------
.globalFooter {
	@include centering;
	position: relative;
	padding: $base_padding*2 0;
	background: $base_footer_color;
	z-index: 30;
	// -------------------------------------------------
	// 	.gotoTop
	// -------------------------------------------------
	.gotoTop {
		position: absolute;
		z-index: 150;
		top: -60px;
		right: 20px;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			top: -($base_padding*8);
			right: 25px;
		}
		a.btn-toTop {
			@include btn-up;
			width: $base_padding*2;
			height: $base_padding*2;
			background: $base_footer_color;
			@include opacity(.4);
			&:after {
				top: 6px;
				border-color: $base_text_color;
			}
			&:hover, &:active {
				@include opacity(1);
				background: $base_footer_color;
				border-color: $base_border_color;
			}
		}
	}
	.container {
		position: relative;
	}
	// -------------------------------------------------
	// 	.copyright
	// -------------------------------------------------
	.copyright {
		margin-top: $base_padding;
		@include alignC;
		@include fontsize(12);
	}
}


