@charset "utf-8";
// ===================================================================
//  File:	layout/_footer.scss
//  Date:	2017-04-10(UTC+9)
//  Note:	
// ===================================================================
// -------------------------------------------------------------------
// 	.globalFooter
// -------------------------------------------------------------------
.globalFooter {
	@include centering;
	position: relative;
	padding: $base_padding*4 0;
	background: $base_footer_color;
	z-index: 30;
	// -------------------------------------------------
	// 	.gotoTop
	// -------------------------------------------------
	.gotoTop {
		position: absolute;
		z-index: 150;
		top: $base_padding*3;
		right: 20px;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			right: 25px;
		}
		a.btn-toTop {
			@include btn-up;
			width: $base_padding*2;
			height: $base_padding*2;
			background: lighten($base_footer_color,10%);
			@include opacity(.4);
			&:after {
				top: 6px;
				border-color: $base_text_color;
			}
			&:hover, &:active {
				@include opacity(1);
				background: $base_footer_color;
				border-color: $base_border_color;
			}
		}
	}
	.container {
		position: relative;
	}
	@include element(nav) {
		@include clearfix;
		@include element(logo) {
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				float: left;
				margin-right: $base_padding*8;
				img {
					width: 80px;
					height: auto;
				}
			}
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				text-align: center;
			}
		}
		@include element(body) {
			overflow: hidden;
			ul {
				@include clearfix;
				margin-top: $base_padding;
			}
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				display: none;
			}
		}
		@include element(item) {
			float: left;
			padding: 0 $base_padding*3;
			border-right: 1px solid $base_white_color;
			&:last-child  {
				border: none;
			}
			> a {
				color: $base_white_color;
			}
		}
	}
	// -------------------------------------------------
	// 	.copyright
	// -------------------------------------------------
	.copyright {
		margin-top: $base_padding*4;
		@include alignC;
		@include fontsize(12);
		color: $base_white_color;
		font-family: Verdana;
	}
}


